.list-comments {
	min-height: 60px;
	margin-bottom: 25px;
	padding: 15px 30px 15px;
	font-size: 1em;
	border-radius: 10px;
	background: #f8f9fa;
	color: #333;
	border: 2px solid #e9ecef;
}

.list-comments li::marker {
	margin-left: 10px;
}

.comment {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 60px;
	margin-bottom: 25px;
	padding: 15px;
	font-size: 1.4em;
	font-weight: bold;
	border-radius: 10px;
	background: #f8f9fa;
	color: #333;
	border: 2px solid #e9ecef;
}

.comment:focus::placeholder {
	color: transparent;
}

.button {
	border: 2px solid #f9f9f9;
}

.button:hover {
	border: 2px solid #e9ecef;
}
